{% if is_granted('ROLE_ADMIN_TRANSLATIONS') and app.environment == 'dev' %}
    <var
       class="mg-trans-data hidden"
       data-trans-key="{{ translate }}"
       data-trans-domain="{{ domain }}"
       data-trans-locales="{{ locales|join(",") }}"
       data-trans-ajax-get="{{ path("mornin_translation_get_trans_unit") }}"
       data-trans-ajax-set="{{ path('mornin_translation_update', {'id': '-id-'}) }}"
       data-trans-ajax-cache-clear="{{ path('mornin_translation_invalidate_cache') }}"
    >
        &nbsp;
    </var>
    <span id="trans-{{ translate|replace({" " : "-"}) }}-X-{{ domain|replace({" " : "-"}) }}" data-locale="{{ locale }}" class="mg-trigger-origin">{{ translate|trans(options, domain, locale)|raw }}</span>
{% else %}
        {{ translate|trans(options, domain, locale)|raw }}
{% endif %}